@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.main .block-container {

    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
}

[data-testid="stSidebar"][aria-expanded="true"] {
    min-width: 0px;
    max-width: 240px;
}

.container {
    background-color: #80ecff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Merriweather', serif;
}